body {
	background: rgb(41, 41, 41);
	color: white;
	font-family: monospace;
}

mark {
	background: none;
	color: #5b8aea;
}

/* h1::before {
	content: "# ";
	color: #5b8aea;
} */

h1 {
	color: #5b8aea;
}

header {
	display: block;
	margin-bottom: 50px;
}

header section {
	display: flex;
	border-bottom: 1px solid #aaa;
	padding: 20px 50px;
	align-items: center;
	justify-content: space-between;
}

footer {
	display: block;
	margin-top: 50px;

	#binary-age-counter {
		display: relative;
		margin-right: 20px;

		.bit {
			width: 2px;
			height: 30px;
			background: #5b8aea;
			display: inline-block;
			margin-right: 2px;
			opacity: .3;

			&.on {
				opacity: 1;
			}
		}
	}
}

footer section {
	display: flex;
	align-items: center;
	border-top: 1px solid #aaa;
}

section {
	padding: 0 50px;
	max-width: 600px;
	margin-left: calc(50vw - 25px);
	transform: translateX(-50%);
}

nav {
	a {
		color: white;
		margin-right: 20px;
		text-decoration: none;

		&:hover {
			opacity: .8;
		}
	}
}